// titulos
@font-face {
  font-family: 'Cabin';
  src: url('@/assets/fonts/Cabin/Cabin-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cabin';
  src: url('@/assets/fonts/Cabin/Cabin-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: 'Cabin';
  src: url('@/assets/fonts/Cabin/Cabin-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

// Big title

@font-face {
  font-family: 'Bebas Neue';
  src: url('@/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// Textos

@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}


@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
